# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [14]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [21]:
chipo = pd.read_csv('./chipotle.tsv', delimiter='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [22]:
stripDollar = lambda x: x.strip('$')
chipo1 = chipo
chipo1['item_price'] = chipo1['item_price'].apply(stripDollar).apply(pd.to_numeric)
chipo1[chipo1['item_price'] > 10.00].shape[0]

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [54]:
chipo2 = chipo
# Remove duplicates
chipo2.drop_duplicates(subset=['item_name', 'item_price'], inplace='true')

# Get only those who's quantity is greater than 1
chipo2 = chipo2[chipo2.quantity == 1]

chipo2[['item_name', 'item_price']].sort_values('item_price', ascending=False)

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
93                         Carnitas Burrito       11.75
1008                  Carnitas Crispy Tacos       11.75
97                            Carnitas Bowl       11.75
130                        Barbacoa Burrito       11.75
168                   Barbacoa Crispy Tacos       11.75
2231                     Steak Crispy Tacos       11.75
7                             Steak Burrito       11.75
1963                    Carnitas Soft Tacos       11.75
39                            Barbacoa Bowl       11.75
1353                       Steak Soft Tacos       11.75
90                               Steak Bowl       11.75
988                     Barbacoa Soft Tacos       11.75
4510                          Barbacoa Bowl       11.49
1063                       Carnitas Burrito       11.48
3276                       Barbacoa Burrito       11.48
3184                    Barbacoa Soft Tacos       11.48
147                           Steak Burrito       11.48
471                           Barbacoa Bowl       11.48
429                   Barbacoa Crispy Tacos       11.48
1721                       Steak Soft Tacos       11.48
163                           Carnitas Bowl       11.48
187                              Steak Bowl       11.48
167                         Chicken Burrito       11.25
79                       Chicken Soft Tacos       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
186                       Veggie Salad Bowl       11.25
...                                     ...         ...
3989                          Chicken Salad        8.19
2918                           Chicken Bowl        8.19
520                            Crispy Tacos        7.40
510                                 Burrito        7.40
673                                    Bowl        7.40
1414                                  Salad        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
676                     Chips and Guacamole        4.00
49                      Chips and Guacamole        3.99
927                     Chips and Guacamole        3.89
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
89             Chips and Fresh Tomato Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
111     Chips and Tomatillo Red Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
730            Chips and Fresh Tomato Salsa        2.29
40                                    Chips        2.15
4509                                  Chips        1.99
6                             Side of Chips        1.69
329                           Bottled Water        1.50
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [47]:
chipo[['item_name']].sort_values('item_name')

              item_name
3389  6 Pack Soft Drink
341   6 Pack Soft Drink
1849  6 Pack Soft Drink
1860  6 Pack Soft Drink
2713  6 Pack Soft Drink
3422  6 Pack Soft Drink
553   6 Pack Soft Drink
1916  6 Pack Soft Drink
1922  6 Pack Soft Drink
1937  6 Pack Soft Drink
3836  6 Pack Soft Drink
298   6 Pack Soft Drink
1976  6 Pack Soft Drink
1167  6 Pack Soft Drink
3875  6 Pack Soft Drink
1124  6 Pack Soft Drink
3886  6 Pack Soft Drink
2108  6 Pack Soft Drink
3010  6 Pack Soft Drink
4535  6 Pack Soft Drink
4169  6 Pack Soft Drink
4174  6 Pack Soft Drink
4527  6 Pack Soft Drink
4522  6 Pack Soft Drink
3806  6 Pack Soft Drink
2389  6 Pack Soft Drink
3132  6 Pack Soft Drink
3141  6 Pack Soft Drink
639   6 Pack Soft Drink
1026  6 Pack Soft Drink
...                 ...
2996       Veggie Salad
3163       Veggie Salad
4084       Veggie Salad
1694       Veggie Salad
2756       Veggie Salad
4201  Veggie Salad Bowl
1884  Veggie Salad Bowl
455   Veggie Salad Bowl
3223  Veggie Salad Bowl
2223  Veggie Salad Bowl
2269  Veggie Salad Bowl
4541  Veggie Salad Bowl
3293  Veggie Salad Bowl
186   Veggie Salad Bowl
960   Veggie Salad Bowl
1316  Veggie Salad Bowl
2156  Veggie Salad Bowl
4261  Veggie Salad Bowl
295   Veggie Salad Bowl
4573  Veggie Salad Bowl
2683  Veggie Salad Bowl
496   Veggie Salad Bowl
4109  Veggie Salad Bowl
738   Veggie Soft Tacos
3889  Veggie Soft Tacos
2384  Veggie Soft Tacos
781   Veggie Soft Tacos
2851  Veggie Soft Tacos
1699  Veggie Soft Tacos
1395  Veggie Soft Tacos

[4622 rows x 1 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [41]:
chipo.sort_values('item_price', ascending=False).iloc[0]['quantity']

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [35]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times people ordered more than one Canned Soda?

In [46]:
chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)].shape[0]

20